<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@700&display=swap">
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">

    @RenderSection("head", required: false)
</head>

<body>
    <div class="scroll-trigger">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" data-class="scrolled" data-class-condition="this.isScrolled()">
            <div class="container">
                <a class="navbar-brand sr-only" href="~/">Sonic Paradox</a>
                <a class="sp-logo-collapsible" href="~/" data-class="collapsed" data-class-condition="this.isScrolled()">
                    <img class="sp-logo__top" src="~/assets/img/splogo-top.svg" />
                    <img class="sp-logo__bottom" src="~/assets/img/splogo-bottom.svg" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        @foreach (var item in WebApp.Site.Sitemap.Where(i => !i.IsHidden))
                        {
            <li class="nav-item@(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? " active" : "")">
                <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
            </li>
}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()
    <script type="text/javascript" src="https://unpkg.com/gravy-bind/dist.browser/index.js"></script>
    <script type="text/javascript" src="~/assets/js/site.js" asp-append-version="true"></script>
</body>
</html>
