@model SonicParadox.Blocks.Staff.StaffBlock

@{
    var style = string.Empty;
    if (!string.IsNullOrEmpty(Model.AccentColor.Value))
    {
        style += $"--color: {Model.AccentColor.Value.Trim()};";
    }
    if (!string.IsNullOrEmpty(Model.BackgroundColor.Value))
    {
        style += $"--background-color: {Model.BackgroundColor.Value.Trim()};";
    }
    var styleAttrib = string.IsNullOrEmpty(style) ? string.Empty : $"style=\"{style}\"";
}

<div class="staff" data-staff-id="@Model.Id" id="@Model.Id" @Html.Raw(styleAttrib)>
    <img class="staff__avatar" src="@Url.Content(Model.Avatar?.Media?.PublicUrl)" alt="@Model.Avatar?.Media?.AltText" />
    <span class="staff__title">@Model.DisplayName</span>
    <div class="staff__dimmer" data-staff-id="@Model.Id" data-class="active" data-class-condition="this.isOpen">
        <div class="staff__biography">
            <h3>About @Model.DisplayName</h3>
            <div>
                @if (!string.IsNullOrEmpty(Model.Biography))
                {
                    @Html.Raw(Model?.Biography?.ToHtml())
                }
                else
                {
                    <span>No biography for this person.</span>
                }
            </div>
        </div>
    </div>
</div>
